.app-title {
    text-align: center;
    font-size: 40px;
}

.todo-list-container {
    background-color: white;
    height: 400px;
    width: 470px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
}

.add-todo-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.add-input {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.add-icon {
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.add-icon:hover {
    transform: rotate(90deg);
    transition: 1s;
    border: 1px solid #ccc;
}

.category-select {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}